/* Webfont: Reigo-ExtraBoldItalic */@font-face {
    font-family: 'ReigoExtBd';
    src: url('Reigo-ExtraBoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Reigo-ExtraBoldItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

