/* Webfont: Reigo-Medium */
@font-face {
  font-family: "ReigoMed";
  src:
    url("Reigo-Medium.woff2") format("woff2"),
    /* Modern Browsers */ url("Reigo-Medium.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
