/* Webfont: Reigo-Black */
@font-face {
  font-family: "ReigoBlack";
  src:
    url("Reigo-Black.woff2") format("woff2"),
    /* Modern Browsers */ url("Reigo-Black.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
