/* Webfont: Reigo-SemiBoldItalic */@font-face {
    font-family: 'ReigoSemBd';
    src: url('Reigo-SemiBoldItalic.woff2') format('woff2'), /* Modern Browsers */
         url('Reigo-SemiBoldItalic.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

