/* Webfont: Reigo-SemiBold */
@font-face {
  font-family: "ReigoSemBd";
  src:
    url("Reigo-SemiBold.woff2") format("woff2"),
    /* Modern Browsers */ url("Reigo-SemiBold.otf") format("opentype"); /* Safari, Android, iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
