/* Webfont: Reigo-Bold */@font-face {
    font-family: 'Reigo';
    src: url('Reigo-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('Reigo-Bold.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

